@charset "UTF-8";

:root {
    --fonte: Arial, Helvetica, sans-serif;
    --cor: brown;
}

* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.4em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.264);
}

body {
    background-color: var(--cor);
    text-align: center;
    font-family: var(--fonte);
    padding: 10px;
}

header {
    color: white;
    font-size: 1.4em;
    padding: 1.6vw;
}

header > h1 {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.264);
}

main {
    max-width: 800px;
    min-width: 320px;
    height: auto;
    border-radius: 10px;
    margin: auto;
    background-color: white;
    padding: 30px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.483);
}

div {
    text-align: left;
    padding: 20px 0px;
    font-size: 1.2em;
}

label {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.264);
}

input {
    padding: 3px 6px;
    border: 2px solid black;
    border-radius: 4px;
    width: 14vw;
    box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.505);
    font-family: var(--fonte);
    font-size: 0.7em;
}

button {
    padding: 3px 6px;
    color: var(--cor);
    font-weight: bold;
    background-color: transparent;
    border: 1px solid var(--cor);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.505);
}

button:hover {
    background-color: var(--cor);
    color: white;
}

button#finish {
    display: block;
}

textarea {
    width: 200px;
    height: 120px;
    padding: 3px 6px;
    resize: none;
    overflow-y: scroll;
    border: 2px solid black;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.505);
    color: black;
    font-family: var(--fonte);
    font-size: 0.7em;
}

footer {
    color: white;
    font-style: italic;
    font-size: 1.2em;
    padding: 1.8vh;
}

footer > p {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.264);
}